@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--clr-white: hsl(0, 0%, 100%);
	--clr-black: #000;
	--clr-overlay: rgba(0, 0, 0, 0.75);

	--clr-primary-orange: hsl(26, 100%, 55%);
	--clr-primary-pale-orange: hsl(25, 100%, 94%);

	--clr-neutral-400: hsl(220, 13%, 13%);
	--clr-neutral-300: hsl(219, 9%, 45%);
	--clr-neutral-200: hsl(220, 14%, 75%);
	--clr-neutral-100: hsl(223, 64%, 98%);
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-family: 'Kumbh Sans', sans-serif;
	font-size: 1.6rem;
	min-height: 100vh;
	display: grid;
	grid-template-rows: min-content 1fr;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	font-weight: 400;
}

img {
	display: block;
	max-width: 100%;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

input,
button,
textarea,
select {
	font: inherit;
	border: none;
	outline: none;
}

::placeholder {
	font: inherit;
}

a {
	text-decoration: none;

	&:link,
	&:visited {
		color: inherit;
	}
}

li {
	list-style-type: none;
}

@media (prefers-reduced-motion: reduce) {
	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}
